<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>


<div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="selectedHero.name" placeholder="name" />
        </label>
    </div>
</div>

<!-- Two way binding เป็นการผูกตัวแปรกับ input -->
<!-- *ngFor เป็นการแสดงแบบวนลูปแสดงค่าข้อมูล -->
<!-- ng แบบมี * ข้างหน้ากับไม่มีต่างกัน แบบมี * จะเป็นการวนลูปแสดงค่าแต่ไม่มีเป็นการทำ binding -->
<!-- ngIf เป็นการเช็คว่าข้อมูลเป็น  null หรือไม่ -->