<h2>My Heroes</h2>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>

  <button class="delete" title="delete hero" (click)="delete(hero)">
    x</button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>

<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
<!-- เป็นการส่งจาก component hero ไปหา hero details คล้ายการส่ง props  -->

<!-- Two way binding เป็นการผูกตัวแปรกับ input -->
<!-- *ngFor เป็นการแสดงแบบวนลูปแสดงค่าข้อมูล -->
<!-- ng แบบมี * ข้างหน้ากับไม่มีต่างกัน แบบมี * จะเป็นการวนลูปแสดงค่าแต่ไม่มีเป็นการทำ binding -->
<!-- ngIf เป็นการเช็คว่าข้อมูลเป็น  null หรือไม่ -->